<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li><a href="/projects">Projects</a></li>
	        		<li><a href="/cv">Vitae</a></li>
							<li><a href="/pub">Publications</a></li>
							<li><a href="/abstracts">Abstracts</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:selipot@rsmas.miami.com">selipot at rsmas.miami.edu</a></li>
	        		<li><a href="https://github.com/selipot">github.com/selipot</a></li>
							<li><a href="http://twitter.com/ShaneKahn">twitter.com/ShaneKahn</a></li>
				</ul>
			</footer>
		</body>
	</html>
